.carousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-container {
    display: flex;
    width: 200%; /* 100% for each set of products */
    animation: scroll 20s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* Disable text selection */
.carousel-container {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
  
  .scrollbar-hidden {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  