.carousel-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel-inner {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
}

.carousel-item {
  flex-shrink: 0;
  width: 200px;
  height: 300px;
  margin-right: 16px; /* Adjust spacing between items as needed */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
